.profileForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width:50%;
}

.nameField {
  display: flex;
  flex-direction: row;
}

/*.genderSelect {
  display: flex;
  flex-direction: row;
}*/

button {
  border:none;
  border-radius: 1em;
  background-color: green;
  color: white;
  height: 4em;
  width: 6em;
}

button a {
    text-decoration:  none;
    color: white
}
